<!DOCTYPE html>
<html>
<head>
    <title>Career Mapper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Career Trajectory Mapper</h1>
        <p>Upload your resume to see your career match score.</p>
        
        <form action="/analyze" method="post" enctype="multipart/form-data">
            <input type="file" name="resume" accept=".pdf" required>
            <br><br>
            <label>Interested Domain:</label>
            <select name="target_role">
                <option value="Data Analytics">Data Analytics</option>
                <option value="Web Dev">Web Dev</option>
            </select>
            <br><br>
            <button type="submit">Analyze My Career Path</button>
        </form>
    </div>
</body>
</html>